.TX {  font-size: 12px; font-weight: bold}
.TX_blanc {  font-size: 12px; font-weight: bold; color: #FFF;}
.menu_Gris {  font-size: 13px; text-transform: uppercase; color: #838383; font-weight: bold}
.menu_Gris2 {  font-size: 20px; text-transform: uppercase; color: #838383; font-weight: bold}
.bn_ajouter {  color: #FFFFFF; background-color: #666666; font-size: 10px; border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.menu_partenaires { font-size: 20px; text-transform: uppercase; color: #70cfe7; font-weight: bold; text-decoration: none}
.menu_certifies { font-size: 20px; text-transform: uppercase; color: #da96c6; font-weight: bold ; text-decoration: none}
.menu_candidats { font-size: 20px; text-transform: uppercase; color: #c4c05e; font-weight: bold ; text-decoration: none}
.menu_requetes { font-size: 20px; text-transform: uppercase; color: #80ad5f; font-weight: bold ; text-decoration: none}
.menu_tarifs { font-size: 20px; text-transform: uppercase; color: #f29400; font-weight: bold ; text-decoration: none}
.menu_tarifs2 { font-size: 13px; text-transform: uppercase; color: #f29400; font-weight: bold ; text-decoration: none}
.Titre_Partenaires {  font-size: 30px; font-weight: bold; color: 70cfe7}
.Titre_Partenaires2 {  font-size: 20px; font-weight: bold; color: 70cfe7}
.form_ediht {  	border:1px #9f5d91 solid;	font-size:12px;	padding:2px 2px;	color:#333;	background-color:#f8f6f6;; height: 20px }
.form_ediht_Partenaires {  border:1px #70cfe7 solid;	font-size:12px;	padding:2px 2px;	color:#333;	background-color:#f8f6f6;; height: 20px }
.form_ediht_Certifies {  border:1px #da96c6 solid;	font-size:12px;	padding:2px 2px;	color:#333;	background-color:#f8f6f6;; height: 20px }
.form_ediht_Candidats {  border:1px #c4c05e solid;	font-size:12px;	padding:2px 2px;	color:#333;	background-color:#f8f6f6; height: 20px }
.form_ediht_Requetes {  	border:1px #80ad5f solid;	font-size:12px;	padding:2px 2px;	color:#333;	background-color:#f8f6f6; height: 20px }
.form_ediht_Tarifs {  border:1px #f29400 solid;	font-size:12px;	padding:2px 2px;	color:#333;	background-color:#f8f6f6; height: 20px }