* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
	display: block;
}



html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
}

body {
	background: #f5f5f5;
	color: #141412;
	line-height: 1.5;
	margin: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}



b,
strong {
	font-weight: bold;
}


.center{text-align: center}


p {
	margin: 0 0 14px;
}



menu,
ol,
ul {
	margin: 16px 0;
	padding: 0 0 0 40px;
}

ul {
	list-style-type: none;
}

nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
}

li > ul,
li > ol {
	margin: 0;
}

img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
}


form {
	margin: 0;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
	white-space: normal;
}

button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
}

button,
input {
	line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	padding-right: 2px; /* Don't cut off the webkit search cancel button */
	width: 270px;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
	/* width:100%; */
}







/* Assistive text */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	position: absolute !important;
	height: 1px;
	width: 1px;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	line-height: normal;
	padding: 15px 23px 14px;
	position: absolute;
	left: 5px;
	top: 5px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Form fields, general styles first. */
button,
input,
textarea, select {
	border: 1px solid #d4d0ba;
	padding: 4px;
}

input,
textarea {
	color: #000;
}


input[type="text"]
{width: 100%}




/* Buttons */
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	background: #e05d22; /* Old browsers */
	background: -webkit-linear-gradient(top, #e2007a 0%, #c2036a 100%); /* Chrome 10+, Safari 5.1+ */
	background:   linear-gradient(to bottom, #e2007a 0%, #c2036a 100%); /* W3C */
	border: none;
	color: #fff;
	display: inline-block;
	padding: 8px 16px;
	text-decoration: none;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {
	background: #ed6a31; /* Old browsers */
	background: -webkit-linear-gradient(top, #c2036a 0%, #e2007a 100%); /* Chrome 10+, Safari 5.1+ */
	background:   linear-gradient(to bottom, #c2036a 0%, #e2007a  100%); /* W3C */
	outline: none;
}

button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
	background: #e2007a; /* Old browsers */
	border: none;
	padding: 8px 16px;
}

.post-password-required input[type="submit"] {
	padding: 7px 24px 4px;
	vertical-align: bottom;
}

.post-password-required input[type="submit"]:active {
	padding: 5px 24px 6px;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: #7d7b6d;
}

:-moz-placeholder {
	color: #7d7b6d;
}

:-ms-input-placeholder {
	color: #7d7b6d;
}

/*
 * Responsive images
 *
 * Fluid images for posts, comments, and widgets
 */
.entry-content img,
.entry-summary img,
.comment-content img,
.widget img,
.wp-caption {
	max-width: 100%;
}

/* Make sure images with WordPress-added height and width attributes are scaled correctly. */
.entry-content img,
.entry-summary img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto;
}

img.size-full,
img.size-large,
img.wp-post-image {
	height: auto;
	max-width: 100%;
}




/* Images */
.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}




img.aligncenter {
	margin: 5px auto;
}

img.alignnone {
	margin: 5px 0;
}




/**
 * 3.0 Basic Structure
 * ----------------------------------------------------------------------------
 */

.site {
	margin: 0 auto;
	max-width: 1024px;
	z-index: 2;
}

.site.top {
	z-index: 3;
}

.site-main {
	position: relative;
}

.site-main .sidebar-container {
	height: 0;
	position: absolute;
	top: 40px;
	width: 100%;
	z-index: 1;
}

.site-main .sidebar-inner {
	margin: 0 auto;
	max-width: 1024px;
}


/**
 * 4.0 Header
 * ----------------------------------------------------------------------------
 */

/**
 * 4.1 Site Header
 * ----------------------------------------------------------------------------
 */

.site-header {
	position: relative;
}

.logo-vakom {
	display: block;
	float: left;
	position: relative;
}

.logo-vakom {
	margin: 25px 0px 10px 0px;
}

.logo-vakom img {
	float: left;
}

.logo-vakom .logo1 {
	margin: 18px 0 0;
	width: 130px;
}

.logo-vakom .logo2 {
	margin: 18px 0 0 37px;
	width: 170px;
}

.header-middle {
	float: left;
	height: 130px; 
	width: 150px;
}



.header-middle .search-form,
.site-header .header-middle .search-field {
	width: 455px;
}

.header-middle .search-form label {
	color: #818181;
}


 
.sidebar-header {
	display: block;
	float: right;
	position: relative;
}

#nav_menu-2 {
	margin: 23px 0 0;
	padding: 0;
	position: relative !important;
}

#nav_menu-2 li {
	float: left;
	height: 90px;
	
}

#nav_menu-2 li a {
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 90px;
	padding:5px 0 0 0;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	width:120px
	
}

#nav_menu-2 li:first-child a {
	background: url("img/blanc.png")no-repeat; width:210px;
}

#nav_menu-2 li:last-child a {
	 width:300px;}

#nav_menu-2 li a {
	color: #fff; text-align:right
}
 
.tp-revslider-mainul {
 	clear: both;
}

.site.top {
	z-index: 1 !important;
}

#navbar {
	clear: both;
	max-width: 1024px;
	position: relative;
	z-index: 9999;
}

#navbarAdmin {
	clear: both;
	max-width: 1140px;
	position: relative;
	z-index: 9999;
	background-color:#333;
	
}


.logged-in .fixNavigation {
	position: fixed;
	top: 32px; 
}

.fixNavigation {
	position: fixed !important;
	top: 0;
}

.main-navigation {
	max-width: 1140px;
}





/**
 * 4.2 Navigation
 * ----------------------------------------------------------------------------
 */

.main-navigation {
	background: #771754; /* For browsers that do not support gradients */        
    background: -webkit-linear-gradient(-90deg, #204d74, #3c8dbc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #204d74, #3c8dbc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #204d74, #3c8dbc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #204d74, #3c8dbc); /* Standard syntax (must be last) */
	clear: both;
	margin: 0 auto;
	height: 60px;
	position: relative;
}



ul.nav-menu,
div.nav-menu > ul {
	margin: 0;
	padding: 0 40px 0 0;
}

.nav-menu li {
	display: inline-block;
	position: relative;
	color: #ccc;
	font-size: 14px;
	font-weight: bold;
	padding: 0px 15px 0px 13px;
	
}

.nav-menu li.current-menu-item a,
.nav-menu li.current_page_item a{
	border-bottom: 8px solid #204d74;

}

.nav-menu li a {
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	padding: 21px 14px;
	text-decoration: none;
	text-transform: uppercase;
}

.nav-menu li:first-child a {
	background: url("img/accueil.png") no-repeat 22px 22px;
	width: 55px;
	text-indent: -1000px;
}

.nav-menu li:hover > a,
.nav-menu li a:hover,
.nav-menu li:focus > a,
.nav-menu li a:focus {
	border-bottom: 8px solid #3c8dbc;
}

.nav-menu li:first-child:hover > a,
.nav-menu li:first-child a:hover,
.nav-menu li:first-child:focus > a,
.nav-menu li:first-child a:focus {
	border-bottom: 8px solid #204d74;
}

.nav-menu .sub-menu,
.nav-menu .children {
	background-color: #220e10;
	border: 2px solid #f7f5e7;
	border-top: 0;
	padding: 0;
	position: absolute;
	left: -2px;
	z-index: 99999;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.nav-menu .sub-menu ul,
.nav-menu .children ul {
	border-left: 0;
	left: 100%;
	top: 0;
}

ul.nav-menu ul a,
.nav-menu ul ul a {
	color: #fff;
	margin: 0;
	width: 200px;
}

ul.nav-menu ul a:hover,
.nav-menu ul ul a:hover,
ul.nav-menu ul a:focus,
.nav-menu ul ul a:focus {
	background-color: #db572f;
}

ul.nav-menu li:hover > ul,
.nav-menu ul li:hover > ul,
ul.nav-menu .focus > ul,
.nav-menu .focus > ul {
	clip: inherit;
	overflow: inherit;
	height: inherit;
	width: inherit;
}

.menu-toggle {
	display: none;
}

/* Navbar */
.navbar {
	margin: 0 auto;
	max-width: 1600px;
	width: 100%;
}









/**
 * Page AJOUT QUESTIONNAIRE
 * ----------------------------------------------------------------------------
 */
 
#cadreBlanc{  color: #333;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: -0.5px;
  line-height: 18px;
  margin: 0;
  padding: 30px;
  width: 100%;
  background-color:#FFF} 
 
 
 
 ul#menu_horizontal {
list-style-type : none; /* Car sinon les puces se placent n'importe où */

}

ul#menu_horizontal li { 
display : inline;
color:#FFF;
padding : 0 0.5em; /* Pour espacer les boutons entre eux */
}


ul#menu_horizontal li a { 
color:#FFF;}


.pageTop{
  color: #333;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: -0.5px;
  line-height: 18px;
  margin: 0;
  padding: 30px;
  width: 100%;
}



.page .entry-contentAdmin {
  color: #333;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: -0.5px;
  line-height: 18px;
  margin: 0;
  padding: 30px;
   background:#fff;
  min-height:500px;
}

.hentryAdmin {
	padding: 10px 0;
}


div.CadreCentre{width:100%; }

div.cadrePaginationSection {
    margin: 60px 0 0 0;
}

.TitreSection {	
	font-size: 40px; font-weight: bold; color: #e2017b;
	width:100%; text-transform:uppercase; line-height: 80px; text-align: center}

.TitreTheme {
	font-size: 20px; font-weight: bold; color: #e2017b;
	width:100%; text-transform:uppercase;  }

.Ident {
	font-size: 16px; font-weight: bold; 
	border-bottom: 1px dotted #000;
	width:100%; text-transform:uppercase;}

.minuscule{text-transform: none}

.legende-barometre{font-size: 12px; color: #ccc}
	
.tableRenseignement {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 14px;
	padding: 5px;
	width: 100%;}
	

.label-required:after {
    	content:"*"; color:#f29400;
}

.texteCnil{font-size:12px;}

.orange{color:#f29400; font-weight:bold}
.bleu{color:#3c8dbc; font-weight:bold}


.Titre_Orange {
    font-size: 20px;
    font-weight: bold;
    color: #f29400;
    margin-left: 30px;
    font-style: normal;
    text-transform: uppercase;
}


.Titre_bleu {
    font-size: 20px;
    font-weight: bold;
    color: #3c8dbc;
    margin-left: 30px;
    font-style: normal;
    text-transform: uppercase;
}

.upper{text-transform:uppercase;}



.w100p{width:100%}

.w95p {
    width: 95%;
}

.w90p {
    width: 90%;
}

.w98p {
    width: 98%;
}

.w40 {
    width: 40px;
}

.w60 {
    width: 60px;
}


div.CadreMoyenne{width:100%; margin: 20px 0 }







/**
 * PAGINATION
 * ----------------------------------------------------------------------------
 */



div.cadrePagination{ margin:20px 0 0 0 }

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}


ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
	background-color: #F0F0F0
	
}

ul.pagination li a.active {
    background-color: #4a4a4a;
    color: white; 
	
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}



.tableQuestionnaire {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 14px;
	margin:0 auto;
	width: 100%;
	
	
	}

.tableQuestionnaire th{background-color: #3c8dbc; color: #fff; border:1px solid #204d74; padding: 2px; }
.tableQuestionnaire td { border:1px solid #204d74; padding: 6px 4px; }
.tableQuestionnaire td.legende {border:1px solid #204d74; width: 5%; text-align: center; padding: 2px;}
.left{text-align:left}


.tablePagination{width: 100%; border-collapse: collapse}
.tablePagination td.navig{text-align: right;}



div.cadreEchelleIndications{ margin:20px 0 30px 0; background: #f5f5f5; }


.tableEchelleIndications {
	font-size: 12px;
	margin:0 auto;
	width: 100%;
	}

.tableEchelle {
	font-size: 14px;
	margin:0 auto;
	width: 100%;
	text-align: center;
	}

.tableEchelle td{
	background-color: #3c8dbc;
	border: 2px solid #fff;
	color: #fff;
	width: 8%;
	
	
	}


.tableEchelle td.indications{background-color: #fff; font-size: 12px; color: #000}
.tableEchelle td.noire{background-color: #000}





.tableEchellePage {
	font-size: 14px;
	margin:0 auto;
	width: 50%;
	text-align: center;
	}

.tableEchellePage td{
	background-color: #3c8dbc;
	border: 2px solid #fff;
	color: #fff;
	width: 8%;
	
	
	}


.tableEchellePage td.indications{background-color: #fff; font-size: 12px; color: #000}
.tableEchellePage td.noire{background-color: #000}


.tableAnalyse {
	font-size: 14px;
	margin:0 auto;
	width: 100%;
	}


.tableMoyenne {
	font-size: 14px;
	margin:0 auto;
	width: 100%;
	text-align: center
	}

.tableMoyenne th{width: 30%}



.tableResultAnalyse {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 13px;
	margin:0 auto;
	width: 100%;
	
	
	}

.tableResultAnalyse th{background-color: #3c8dbc; color: #fff; border:1px solid #204d74; padding: 2px; }
.tableResultAnalyse td { border:1px solid #204d74; padding: 6px 4px; }
.tableResultAnalyse td.color { background-color: #e9f7ff; }





/**
 * FIN Page AJOUT ADMIN
 * ----------------------------------------------------------------------------
 */
