body {
	font-family: Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px
}

.chalet21Bold {
	font-family: ChaletComprime-CologneSixty;
	font-size: 21px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 21px
}
.emperor_eight19 {
	font-family: EmperorEight;
	font-size: 24px;
	font-weight: bold;
	color: #000000;
	text-decoration: none
}
.emperor_eight17 {
	font-family: EmperorEight;
	font-size: 17px;
	font-weight: normal;
	color: #000000;
	text-decoration: none
}
.Arial12 {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #666666
}
.Arial12Rouge {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #FF0000
}
a:hover {
	text-decoration: none
}
.ArialNumero {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF
}
.formulaireCadreNoir {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
	border: #000000;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	height: 16px
}
.formulaireSecu {
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	background-color: 
#FFFFFF;
	border: 1px #666666 solid;
	height: 16px;
	width: 10px;
	vertical-align: 
baseline;
	clip: rect( )
}
.formulaireSecu2 {
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px #666666 solid;
	height: 16px;
	width: 17px;
	vertical-align: baseline;
	clip: rect( )
}
.formulaireSecu3 {
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	background-color: 
#FFFFFF;
	border: 1px #666666 solid;
	height: 16px;
	width: 23px;
	vertical-align: 
baseline;
	clip: rect( )
}
.bnOkrouge {
	font-family: Arial;
	font-size: 11px;
	font-weight: 
normal;
	color: #FF0000;
	background-color: #FFFFFF;
	border: 1px #FF0000 solid;
	height: 16px;
	cursor: hand;
	vertical-align: baseline
}
.pn-sub {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: 
Arial;
	TEXT-DECORATION: none
}
.pn-sub A:link {
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-STYLE: normal;
	FONT-FAMILY: Arial,;
	TEXT-DECORATION: none;
	font-weight: bold
}
.pn-sub A:visited {
	FONT-SIZE: 
12px;
	COLOR: #000000;
	FONT-STYLE: normal;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: none;
	font-weight: bold
}
.pn-sub A:hover {
	FONT-SIZE: 12px;
	COLOR: 
#ffffff;
	FONT-STYLE: normal;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: none;
	font-weight: bold;
	background-color: #FF0000
}
.pn-sub A:active {
	FONT-SIZE: 
12px;
	COLOR: #000000;
	FONT-STYLE: normal;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: none;
	font-weight: bold
}
.formulaireContact {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	background-color: E6E7E9;
	border: #000000;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px
}
.ArialNoir {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #000000
}
.ArialNoir12 {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: underline
}
.ArialNoirBoldSouligne {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline
}
.ArialBlanc {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF
}
.bnNoir {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #E9E9E9;
	background-color: #000000;
	border: 1px #000000 solid;
	height: 16px;
	cursor: hand
}
.formulaireDNS2 {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	background-color: #E6E7E9;
	border: 1px #000000 solid;
	height: 16px;
	width: 17px;
	vertical-align: baseline;
	clip: rect( )
}
.formulaireSecuGris {
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	background-color: #E6E7E9;
	border: 1px #000000 solid;
	width: 10px;
	vertical-align: baseline;
	clip:  rect( )
}
.formulaireSecu2Gris {
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	background-color: E6E7E9;
	border: 1px #000000 solid;
	width: 17px;
	vertical-align: baseline;
	clip:  rect( )
}
.formulaireSecu3Gris {
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	background-color: E6E7E9;
	border: 1px #000000 solid;
	width: 23px;
	vertical-align: baseline;
	clip:  rect( )
}
.Arial13 {
	font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	color: #666666
}
.formulaireCode {
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px #666666 solid;
	height: 16px;
	vertical-align: baseline;
	clip:  rect( )
}
.Arial13Noir {
	font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	color: #000000
}
.ArialNoir12Normal {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #000000
}
.ArialRougeAdmin {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #FF0000
}
.ImpressionTexteClair {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #505153
}
.ImpressionTexteFonce {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #222222
}
.formulaireDNS4 {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	background-color: #E6E7E9;
	border: 1px #000000 solid;
	height: 16px;
	width: 34px;
	vertical-align: baseline;
	clip: rect( )
}
.formulaireTexteLibre {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px #000000 solid
}
