* {
margin:0;
padding:0;
}

a {
color:#FF6600;
text-decoration:none;
}
a:hover {
text-decoration:underline;
}

html {
background-color:#ffffff;
}

body {
font-size:11px;
font-family:Arial, Helevetica, sans-serif;
}

.form_ediht 
{  
	border:1px #9f5d91 solid;
	font-size:11px;
	padding:2px;
	color:#333;
	background-color:#f8f6f6;
}
.BN { border:1px #9f5d91 solid; font-family:arial, sans-serif; font-size:11px; padding:2px; color:#333; background-color:#f8f6f6; }
.TX {  font-size: 12px; background-color: F1F1F1}
.menu_Gris {  font-size: 12px; text-transform: uppercase; color: #999999}
.bn_ajouter {  color: #FFFFFF; background-color: #666666; font-size: 10px; border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.TX_bold { font-size: 12px ; background-color: #C4C4C4; font-weight: bold}
body {  background-color: #131E2A}
.td_vide {  background-color: #F1F1F1}
.TX_Titre { font-size: 12px; background-color: F1F1F1 ; font-weight: bold; color: FF6600}
