a#logo img {
float:left;
padding:0 10px 0 0;
width:77px; 
height:143px; 
border-width:0;
background:url(../images/logo.gif) top left no-repeat;
}
a#logo:hover img {
background:url(../images/logo-roll.gif) top left no-repeat;
}




ul#menu {
float:left;
padding:20px 0 0 0;
font-size:1.2em;
list-style:none;
text-transform:uppercase;
font-weight:bold;
}
ul#menu li a {
text-decoration:none;
color:#bfbfbf;
}
ul#menu li a:hover {
text-decoration:none;
color:#982f87;
}




div#flash1 {
float:left;
padding:0 10px 0 0;
width:348px;
height:143px;
}



div#rechercher {
float:left;
padding:30px 0 0 9px;
width:230px;
height:113px;
background:url(../images/rechercher.gif) top left no-repeat;
}
div#rechercher .champ {
height:20px;
width:160px;
color:#fff;
font-weight:bold;
font-size:1.3em;
border:0;
background-color:#e1e0e0;
}
div#rechercher .bouton {
height:20px;
margin:2px 0 0 10px;
color:#bfbfbf;
font-weight:bold;
font-size:1.3em;
border:0;
background-color:#fff;
}