.TX {  font-size: 14px; padding:2px;}
.menu_Gris {  font-size: 13px; color: #838383; font-weight: bold}
.menu_Gris2 {  font-size: 20px; color: #838383; font-weight: bold}
.bn_ajouter {  color: #FFFFFF; background-color: #666666; font-size: 13px; border:1px solid #000}
.menu_partenaires { font-size: 20px; color: #70cfe7; font-weight: bold; text-decoration: none}
.menu_certifies { font-size: 20px; color: #da96c6; font-weight: bold ; text-decoration: none}
.menu_certifies2 { font-size: 12px; color: #da96c6; font-weight: bold ; text-decoration: none}
.menu_candidats { font-size: 20px; color: #c4c05e; font-weight: bold ; text-decoration: none}
.menu_requetes { font-size: 20px; color: #80ad5f; font-weight: bold ; text-decoration: none}
.menu_tarifs { font-size: 20px; color: #f29400; font-weight: bold ; text-decoration: none}
.menu_tarifs2 { font-size: 13px; color: #f29400; font-weight: bold ; text-decoration: none}
.Titre_Partenaires {  font-size: 18px; font-weight: bold; color: #666}
.Titre_Partenaires2 {  font-size: 18px; font-weight: bold; color: #666}
.form_ediht {  	border:1px #333 solid;	font-size:13px;	padding:4px;color:#333;	 }
.form_ediht_Partenaires {  border:1px #333 solid;font-size:13px;	padding:4px;color:#333;	 }
.form_ediht_Certifies {  border:1px #333 solid;font-size:13px;	padding:4px;color:#333;	}
.form_ediht_Candidats {  border:1px #333 solid;	font-size:13px;	padding:4px;color:#333;	}
.form_ediht_Requetes {  	border:1px #333 solid;	font-size:13px;	padding:4px;color:#333;	 }
.form_ediht_Tarifs {  border:1px #333 solid;	font-size:13px;	padding:4px;color:#333;	}
 /* List Definitions */
ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
li {
 display : list-item;
 
} 


.tabloGeneral{border-collapse:collapse;  width:100%}
.tabloGeneral td{border:1px solid #000; padding:2px; }