@charset "utf-8";



* {
margin: 0px;
padding: 0px;
}

html { 
  margin:0;
  padding:0;
font-family: "Source Sans Pro"; 
background: #f5f5f5;
}

#wrap{
 margin:0 auto; margin-top:5%; width:800px;  border: 1px solid #a3a3a1; background:#fff
}



#contenu{padding:50px; height:450px}

#header {height:150px; margin-bottom:50px}


.bienvenu{ text-align:center; font-weight:bold;
}


/* FORMULAIRE */


#zoneSaisie{
   width: 700px; height: 220px;     /* pour correspondre à la taille du DIV */
   background-color: transparent;   /* fond transparent            */
   position: absolute;              /* positionnement absolu       */
   z-index: 2;                      /* placement sur l'autre DIV   */
   margin:0;
   text-align:center;
   margin-top:20px
}

#zoneSaisie input{
background-color: #e9e8e8;
border: 1px solid #e9e8e8;
font-family: "Source Sans Pro";
font-weight:bold;
text-transform:uppercase;
text-align:center;
font-size: 16px;
margin-bottom: 10px;
padding: 2px;
color:#000;
width:270px;
height:40px;

}

#zoneSaisie input[type="submit"]{
background-color: #ec7404  ;
border: 1px solid #ec7404  ;
font-family: "Source Sans Pro";
text-transform:uppercase;
text-align:center;
font-size: 16px;
margin: 10px 0px 20px 0px;
padding: 2px;
color:#fff;
width:270px;
height:40px;
cursor:pointer;
}

#zoneSaisie a{    
font-family: "Source Sans Pro";
font-style:italic;
font-size: 14px; 
color:#000;
text-decoration:underline;

}

.textepetit{font-size:11px;}