body {
    background: #f5f5f5;
    color: #141412;
    line-height: 1.5;
    margin: 0;
}	
		.site.top {
		    z-index: 1 !important;
		}
		@media (max-width: 1599px)
		.site {
		    border: 0;
		}
		.site {
		    margin: 0 auto;
		    max-width: 1140px;
		    width: 100%;
		    z-index: 2;
		}
		@media (max-width: 1599px)
		.site {
		    border: 0;
		}		
		.site-header {
		    position: relative;
		}		
		article, aside, details, figcaption, figure, footer, header, nav, section, summary {
		    display: block;
		}
		.logo-vakom {
		    margin: 25px 0px 0 0px;
		}
		.logo-vakom {
		    display: block;
		    float: left;
		    position: relative;
		}
		.logo-vakom img {
		    float: left;
		}	
		img {
		    -ms-interpolation-mode: bicubic;
		    border: 0;
	 	   vertical-align: middle;
		}	
		.header-middle {
	    	float: left;
    		height: 130px;
		    width: 150px;
		}				
.sidebar-header {
    display: block;
    float: right;
    position: relative;
}
#nav_menu-2 {
    margin: 23px 0 0;
    padding: 0;
    position: relative !important;
}

.widget {
    font-size: 14px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin: 0 0 24px;
    padding: 20px;
    word-wrap: break-word;
}		
.widget ul, .widget ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#nav_menu-2 li {
    float: left;
    height: 85px;
}
.widget li {
    padding: 5px 0;
}

#nav_menu-2 li:first-child a {
    background: url("../images/vakom-sens-de-humain.png")no-repeat;
    /*width: 210px;*/
    width: 145px;
    background-size: 125px 87px;    
}
#nav_menu-2 li a {
    color: #fff;
}
#nav_menu-2 li a {
    background: url("../images/espace-vakom.png") #a52b7a no-repeat 48px 18px;
    display: block;
    font-family:Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 33px;
    line-height: 14px;
    padding: 53px 0 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    background-color: #a52b7a;
    width: 120px;    
}
#nav_menu-2 li a {
    color: #fff;
}
#nav_menu-2 li:last-child a {
    background: url("../images/logout.png") #000 no-repeat 48px 18px;
}
.widget a {
    color: #bc360a;
}
.navigation a {
    color: #640d45;
}
a {
    text-decoration: none;
}
ul.nav-menu, div.nav-menu > ul {
    margin: 0;
    padding: 0 40px 0 0;
}
.nav-menu li {
    display: inline-block;
    position: relative;
}
nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}

/*.nav-menu li:first-child a {
    background: url("../images/accueil.png") no-repeat 22px 22px;
    width: 25px;
    text-indent: -1000px;
}*/
.nav-menu li.current-menu-item a, .nav-menu li.current_page_item a {
    border-bottom: 8px solid #e84f13;
    padding: 21px 15px 13px;
}
.nav-menu li a {
    color: #fff;
    display: block;
    font-family:Arial, sans-serif;

    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    padding: 21px 14px;
    text-decoration: none;
    text-transform: uppercase;
}
.navigation {
    width: 100%;
}
.main-navigation {
    background: #e28327;
    clear: both;
    margin: 0 auto;
    height: 60px;
    position: relative;
}
.main-navigation {
    max-width: 1140px;
}
#navbar {
    clear: both;
    max-width: 1140px;
    position: relative;
    z-index: 9999;
}
.navbar {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}
.menu-toggle {
    display: none;
}

button, input, textarea {
    border: 1px solid #333;
    font-family: inherit;
    padding:4px;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
	margin:0px 0px 1px 5px; 
	font-size:13px
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    position: absolute !important;
    height: 1px;
    width: 1px;
}
.main-navigation .search-form {
    height: 60px;
    position: absolute;
    right: 20px;
    top: 0;
    width: auto;
}
.main-navigation .search-field {
    background: rgba(0, 0, 0, 0) url("../images/loupe.png") no-repeat scroll right center;
    border: medium none;
    cursor: pointer;
    height: 60px;
    margin: 0;
    padding: 0 0 0 34px;
    position: relative;
    transition: width 400ms ease 0s, background 400ms ease 0s;
    width: 1px;
    margin-right: 30px;
}
.search-form .search-submit {
    display: none;
}

.site-header .header-middle .search-field:focus {
  background: url("../images/loupe-top.png") no-repeat right center;
  border: none;
  cursor: text;
  width: 100%;
}

.header-middle .search-form,
.site-header .header-middle .search-field {
	width: 455px;
}
.main-navigation .search-field:focus {
	background: #fff;
	border: 2px solid #c3c0ab;
	cursor: text;
	outline: 0 none;
	width: 230px;
}
.header-middle {
    float: left;
    height: 130px;
    width: 150px;
}
.nav-menu li:hover > a,
.nav-menu li a:hover,
.nav-menu li:focus > a,
.nav-menu li a:focus {
	border-bottom: 8px solid #e84f13;
	padding: 21px 14px 13px;
}
.nav-menu li:first-child:hover > a,
.nav-menu li:first-child a:hover,
.nav-menu li:first-child:focus > a,
.nav-menu li:first-child a:focus {
	border-bottom: 8px solid #e84f13;
	padding: 21px 15px 13px;
}
#navbarAdmin {
    clear: both;
    max-width: 1140px;
    position: relative;
    z-index: 9999;
    background-color: #333;
}
.navbar {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    line-height: 2.0;
}
ul#menu_horizontal {
    list-style-type: none;
}
menu, ol, ul {
    margin: 16px 0;
    padding: 0 0 0 40px;
}
ul#menu_horizontal li {
    display: inline;
    color: #FFF;
    padding: 0 0.5em;
}
ul#menu_horizontal li a {
    color: #FFF; font-weight:bold;
}
.hentryAdmin {
    padding: 10px 0;
}
article, aside, details, figcaption, figure, footer, header, nav, section, summary {
    display: block;
}
.page .entry-contentAdmin {
    background: #fff;
    color: #302f2d;
    font-family:Arial, sans-serif;

    font-size: 14px;
    font-weight: normal;
    
    line-height: 18px;
    margin: 0;
    padding: 5px 5px;
    width: 99%;
}
.Ident {
    text-align: right;
    font-family:Arial, sans-serif;

    font-size: 14px;
}
p {
    margin: 0 0 24px;
}