@charset "utf-8";
/* CSS Document */


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');


@font-face {
  font-family: 'MonotypeCorsiva';
  src: url('font/MonotypeCorsiva.eot');
  src: url('font/MonotypeCorsiva.eot?iefix') format('eot'),
    url('font/MonotypeCorsiva.woff') format('woff'),
    url('font/MonotypeCorsiva.ttf') format('truetype'),
    url('font/MonotypeCorsiva.svg#webfontOkOndcij') format('svg');
  font-weight: normal;
  font-style: normal;
}






@media (min-width: 768px) {
  .container {
    width: 698px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 698px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 698px;
  }
 }

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 2;
    color: #333;
	letter-spacing: 0.1em;
	font-weight: 400;
	text-align: justify;
}

.container {
    padding-right: 5px;
    padding-left: 5px;

}


.center{text-align: center}

header{margin: 10px 0 20px 0}


/**********************  PAGE ACCUEIL **********************/

.titre-barometre{color: #03619e; font-size: 30px; font-weight: 700; text-align: center; }
	
.cadre-identification{border: 1px solid #000; text-align: center}	

.nom-fonction{font-size: 18px; font-weight: 700; margin: 10px 0}

.cadre-imageFond{background-image: url(img/bck-accueil.jpg);  min-height: 744px; font-weight: 700;}

.marginTop20{margin: 20px 0 0 0}
.paddingTop20{padding: 20px 0 0 0}

.paddingTop60{padding: 60px 0 0 0}

.strong{font-weight: 600;   }

/**********************  PAGES **********************/

.entete{border-bottom: 1px solid #03619e; height: 92px; margin-bottom: 0px}

.titre{color: #03619e; font-size: 30px; font-family: "MonotypeCorsiva"; margin-bottom: 40px}

.lettre{color: #03619e;  font-family: "MonotypeCorsiva"; font-size: 20px;}

.orange{color: #03619e;font-weight: 600}

.bleu{color: #03619e;font-weight: 600}

.signature{color: #03619e; font-size: 20px; font-family: "MonotypeCorsiva"; text-align: right}

.theme{line-height: 36px; background-color: #03619e; color: #FFF; text-transform: uppercase; font-size: 18px; text-align: center; font-weight: 600}

.puce{font-weight: 600; font-size: 16px   }

.Titre-sommaire{line-height: 36px; text-transform: uppercase; font-size: 18px; text-align: center; font-weight: 600}

.item{color: #de2f74; font-size: 16px}

ul.a { list-style-image: url('img/point.png'); }




    div.sommaire { width: 100%; font-size: 16px}
    div.sommaire p {
            text-align: right;/* on aligne le texte à droite pour que tous les prix soient alignés */
            background: url(img/point.png) center repeat-x;/* on applique un fond de points qui se répètent à l'horizontale */
    }
    div.sommaire span.left {
            float: left;/* on aligne le texte de gauche à... gauche */
            padding: 0 5px 0 0;/* on laisse un espace entre les points et le texte de gauche */
    }
    div.sommaire span.right { padding: 0 0 0 5px; }/* on laisse un espace entre les points et le texte de droite */
    div.sommaire span.left, span.right { background: #fff; }/* on applique un fond blanc pour cacher les points derrière le texte */


.tableResultAnalyse {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 13px;
	margin:0 auto;
	width: 100%;
	text-align: left
	
	
	}

.tableResultAnalyse th{background-color: #3c8dbc; color: #fff; border:1px solid #204d74; padding: 2px; text-align: center }
.tableResultAnalyse td { border:1px solid #204d74; padding: 4px; }
.tableResultAnalyse td.color { background-color: #e9f7ff; }




div.CadreMoyenne{width:100%; margin: 20px 0 }


.tableMoyenne {
	font-size: 13px;
	margin:0 auto;
	width: 100%;
	text-align: center
	}

.tableMoyenne th{width: 40%}


.tableAnalyse {
	font-size: 13px;
	margin:0 auto;
	width: 100%;
	}


	